<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.original.user.UserMapper">
    <insert id = "insUser">
        INSERT INTO t_user
        SET uid = #{uid}, upw = #{upw}, nm = #{nm} <if test = "pic != null and pic != '' ">, pic = #{pic}</if>

    </insert>

    <select id="selUid">
        SELECT iuser, upw, nm FROM t_user
        WHERE uid = #{uid}

    </select>
</mapper>